@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

/*
*Header
*/

.header{
  box-shadow:  0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
  background: linear-gradient(270deg, rgb(116, 13, 13) 0%,#444444); 
  color: #000;
  padding: 1.5rem 0 0 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .header{
    text-align: center;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 350px) {
  .header{
   font-size: 0.63rem;
   min-height: 50px;
   text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .header{
   min-width: 300px;
   font-size: 0.63rem;
   min-height: 50px;
   text-align: center;
  }
}

.header_inner{
  width: 100%;
  margin: 0 auto;
}


article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* min-width: 100%; */
}


/* @media screen and (max-width: 300px){
  #maincontent {
    background-color: #f3f3f3;
    height: 200px;
    min-width: 300px;
  }
} */

#footer {
  background: linear-gradient(270deg, rgb(116, 13, 13) 0%,#444444); 
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* list to be displayed inside the header */
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: transparent;
    font-size: 20px;
    margin: -4rem 0 0 43rem ;
    width: calc(50% - 80px);
}

@media screen and (min-width: 914px) and (max-width: 1018px){
  #breadcrumb{
    margin: -4rem 0 0 32rem ;
  }
  .ml-auto{
    font-size: 17px;
  }
}

@media screen and (max-width: 914px){
  #breadcrumb{
    margin: -4rem 0 0 28rem ;
  }
  .ml-auto{
    font-size: 16px;
  }
}

@media screen and (min-width: 662px) and (max-width: 892px){
  #breadcrumb{
    margin: -5rem 0 0 27rem ;
  }
  .ml-auto{
    font-size: 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 661px){
  #breadcrumb{
    margin: -4rem 0 0 18rem ;
    font-size: 10px;
  }
  .ml-auto{
    font-size: 15px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 499px){
  #breadcrumb{
    margin: -5rem 0 0 13rem ;
    font-size: 10px;
  }
}

@media screen and (max-width: 360px){
  #breadcrumb{
    margin: -5rem 0 0 11rem ;
    font-size: 10px;
  }
}

.ml-auto{
  margin-right: 42rem;
}

@media screen and (max-width: 445px){
  .ml-auto{
    margin-right: 39rem;
  }
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: wheat;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #ff991a;
    text-decoration: none;
}


/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #d5d5d5;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  min-height: 400px;
  min-width: 100%;
  background-color: #ccc;
  margin-top: -1.3rem;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  min-width: 65%;
  min-height: 90px;
  background-color:#444444c9;
  align-items: center;
  
}

@media screen and (min-width: 1280px){
  .filter-options{
    padding-left: 28rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 550px){
  .filter-options{
    padding: 0 3rem;
  }
}

@media screen and (max-width: 445px){
  .filter-options{
    padding: 0 4rem;
   
  }
  .filter-options h2 {
    font-size: 0.5rem;
  }
}

.filter-options h2 {
  color: rgb(116, 31, 31);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding: 5px 10px ;
  
  
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

.filter-label{
  display: none;
  }

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 0 25px;
  text-align: left;
  min-width: 270px;
  max-width: 300px;
  align-content: center;
  text-align: center;
}
@media only screen and (min-width: 0px){
  #restaurants-list li{
    max-width: 100%;
  }
}
@media only screen and (min-width: 720px){
  #restaurants-list li{
    max-width: 45%;
  }
}
@media only screen and (min-width: 1100px){
  #restaurants-list li{
    max-width: 360px;
  }
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list .restaurant-text-area {
  padding: 0 25px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  min-height: 170px;
  max-height: 170px;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color:rgb(73, 17, 17);
  color: #f0f0f0;
  display: block;
  font-size: 14px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 20px;
}

#restaurants-list li a:hover {
  color: #ff9292;
  cursor: pointer;
}

#restaurants-list .fav-control {
  background-color: white;
  width: 44px;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  margin-top: 0px;
  margin-left: 134px;
  padding:18px;
  border: 1px solid #999;
  border: 4px double #999;
  background-image: url('/app/img/favorite6.png');
  background-repeat: no-repeat;
  background-position: 6px -26px;
  background-size: 20px;
  cursor: pointer;
  text-indent: -10000px;
}
#restaurants-list .fav-control.active  {
  background-position: 6px 5px;
}
#restaurants-list .fav-control:hover {
  background-position: 6px -70px;
}

#restaurant-img-container {
  display: flex;
  flex-direction: column;
}
#restaurant-fav {
  background-color: rgb(8, 6, 6);
  width: 44px;
  height: 43px;
  position: absolute;
  align-self: flex-end;
  margin-top: 6px;
  margin-left: -6px;
  padding: 5px;
  border: 1px solid #999;
  border: 4px double #999;
  background-image: url('/app/img/favorite6.png');
  background-repeat: no-repeat;
  background-position: 6px -27px;
  background-size: 21px;
  cursor: pointer;
  text-indent: -10000px;
}
#restaurant-fav.active {
  background-position: 6px 5px;
}
#restaurant-fav:hover {
  background-position: 6px -72px;
}



/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: #f3f3f3 none repeat scroll 0 0;
  height: 87%;
  display: block;
  /*position: fixed;*/
  right: 0;
  top: 87px;
  /*width: 50%;*/
  height: 400px;
}
.inside #map {
  background-color: #ccc;
  margin-top: 5rem;
  height: 100;
  width: 100%;
}

@media screen and (min-width: 900px) and (max-width: 700px){
  .inside #map {
    height: 35rem !important;
    width: 100%;
  }
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 68px 30px;
  width: 73%;
  margin-left: 126px;
}

#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 100%;
}

#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 31pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin-left: 517px;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 100%;
}
#reviews-list li p {
  margin: 15px 0 10px;
  
}

#reviews-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.form-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}

.form-container {
  padding: 30px 40px 80px;
}

.reviews-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(270deg, rgb(116, 13, 13) 0%,#444444);
}
.reviews-form label{
  flex: 1;
  width: 99%;
  margin-top: 18px;
  color: #f3901a;
  text-align: center;
  font-weight: bold;
}

.reviews-form input, .reviews-form textarea {
  padding: 10px;
  width: 87%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #dbdbdb;
}

.reviews-form textarea {
  min-height: 5em;
  max-width: 90%;
}

.reviews-form button {
  width: 20%;
  background: #0c080a78;
  color: white;
  border: none;
  padding: 10px 30px;
  margin-top: 0px;
  margin-left: 31rem;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

/* toast styles*/
.toast{
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px; 
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.toast.show {
  visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
  from {
    bottom: 0; 
    opacity: 0;
  }
  to {
    bottom: 30px; 
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px; 
    opacity: 1;
  }
  to {
    bottom: 0; 
    opacity: 0;
  }
}


#restaurant-hours td {
  color: rgb(211, 14, 14);
}
